*{
  padding: 0;
  margin: 0;
}
h2{
  text-align: center;
}
#header{
  background-color: white;
  position: fixed;
  width: 100%;
  transition: height .3s; 
  
}
#header ul{
  list-style: none;
  margin-left: auto;  
  transition: padding .3s linear; 
}

#header ul a{
  text-decoration: none;
  color: black;
  font-family: abel;
  font-weight: 100;
  font-size: 23px;
}

#header ul li{
  padding: 0px 22px;
}
#logo img{
  max-width: 195px;
  max-height: 220px;
  padding-top:0;
   
}

#logo img
{
    display: inline;
    width:100%;
    transition:width  .2s ease;
    -moz-transition: width .2s ease;
    -ms-transition: width .2s ease;
    -webkit-transition: width .2s ease;
    -o-transition: width .2s ease;
}


#hero-content{
    height: 100vh;
    width: 100%;
    display: table;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: gray;
    background-attachment: fixed;
    background-position: center center;    
    background-repeat:no-repeat;
    
}
.hero-content {  
  display: table-cell;
  vertical-align: middle;
  color: white;
    font-family: abel;
    text-align: center;
    font-weight: bolder;
}
#bars{
  position: relative;
}
#Services{
  margin: 9% 0;
}
#service{
    display: grid;
    grid-template-columns: 35% 35%;
    color: white;
    grid-gap: 44px;
    justify-content: center;
}
  .services-content{
    text-align: center;
    background-color: #e4e4a2;
    padding: 8px 20px;
    box-shadow: 8px 8px 0px darkgrey;
}
.services-content:nth-child(1n){
  background-color: #4dc3c0;
}
.services-content:nth-child(2n){
  background-color: #ED6B00;
}
.services-content:nth-child(3n){
  background-color: #9ab3d0;
}
.services-content:nth-child(4n){
  background-color: #ec9d0b;
}
#hero-services{
  margin: 6% 0;
}
#footer{
  background: #365454;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: center;  
}






/*media quries for Laptop and above*/

@media (min-width: 1025px) {
  #header{
    display: flex;
    height: 91px;
    transition: width .3s; 
  }
  #header ul{
    display: flex;
    padding-top: 27px;
  }
  #logo img{
    padding: 0px 0 0 53px;    
  }
 
}

@media (min-width: 768px) {
  #bars{
    display: none;
  }
  #hero-about{
    display: grid;
    grid-template-columns: 25% 60%;
    justify-content: center;
    align-items: center;
    padding: 4% 0%;
    background-color: #f7f4eb;
  }
  #hero-we{
    max-width: 18vw;
    min-height: 30vh;
    text-align: center;
    line-height: 2;
    padding: 9px 8px;
    font-family: abel;
    border-right: 2px solid;
}
  #we-image{
    max-width: 9vw;
  }
  .hero-para{
    max-width: 62vw;
    font-family: Arial, Helvetica, sans-serif;
}
.services-content{
  max-width: 37vw;
}
}
/*media quries for tablet*/

@media (min-width: 768px) and (max-width: 1024px) {
  #header{
    text-align: center;  
    height: 132px;
  }
  
  #header ul{
     display: flex;
     justify-content: space-around; 
     transition: padding .3s linear;
  }
     
}


@media (min-width: 320px) and (max-width: 768px){
  #bars{
    padding: 0px 23px;
    font-size: 23px;
    color: black;
    top: -9px;
    text-align: end;
}

  #logo img{
      width: 172px;
  }
  #logo{
    text-align: center
  }
  #navigation{
  display: none;
  justify-content: space-around;
  transition-delay: 5s;
}
  #header ul li {
  padding: 0px;
}
#header ul a {
  font-size: 17px;
}
#hero-about{
  padding: 25px 19px;
  text-align: center;
}
#we-image{
  display: none;
}
.hero-header{
  font-size:15px;
}
#hero-about-content{
  padding: 20px 0px;
}
#about-button{
  margin: 13px 0;
}
#service{
  grid-template-columns: 80%;
}
}